<div class="new-order-form">
    <h3>New Order</h3>
    <form (ngSubmit)="submitOrder()">
        <div>
            <label for="product">Product:</label>
            <p-dropdown [options]="products" [(ngModel)]="order.product" optionLabel="name" placeholder="Select a Product" name="product"></p-dropdown>
        </div>
        <div style="width: 20%;">
            <label for="quantity">Quantity:</label>
            <input type="number" pInputText [(ngModel)]="order.quantity" name="quantity" min="1"/>
        </div>
        <div>
            <label for="deliverySlot">Delivery Slot:</label>
            <p-dropdown [options]="slots" [(ngModel)]="order.slot" optionLabel="label" placeholder="Select a Product" name="product"></p-dropdown>
        </div>
        <button pButton type="submit" label="Place Order"></button>
    </form>
</div>
