/* registration.component.scss */
.container {
    max-width: 500px;
    margin: auto;
    padding-top: 20px;
  }
  
  .card {
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    .card-header {
      background-color: #007bff;
      color: white;
      text-align: center;
      padding: 10px 0;
    }
    .card-body {
      padding: 20px;
      form {
        .form-group {
          margin-bottom: 20px;
        }
        .btn-primary {
          width: 100%;
        }
      }
    }
  }
  